.gifContainer {
  background: white;
  width: 300px;
  height: 400px;
  max-height: 400px;
  max-width: 300px;
  overflow: auto;
  position: relative;
}

.popover {
  max-width: unset !important;
}

.gifList {
  list-style-type: none;
  padding-left: 0 !important;
  margin: 0 4px;
}

.gifList li {
  margin: 4px 0;
  width: 100%;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
}

.gifList li img {
  width: 100%;
  max-width: 100%;
  height: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.searchContainer input {
  width: calc(100% - 12px);
  margin: 10px 6px;
  padding: 4px 4px;
}

.gifList {
  cursor: pointer;
}
